@model DatabaseLabWork5.Models.Faculty

@{
    ViewData["Title"] = "Add Faculty";
}

<div class="container mt-2">

     <div class="row align-items-center mt-3">
            <div class="col-auto">
                <h2>Add New Faculty</h2>
            </div>
            <div class="col text-end">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
            </div>
        </div>


    @if (TempData["SuccessMessage"] != null)
    {
            <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
            </div>
    }

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="FacultyName" class="form-label">Faculty Name</label>
            <input asp-for="FacultyName" class="form-control" placeholder="Enter faculty name" />
            <span asp-validation-for="FacultyName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add Faculty</button>
        </div>
    </form>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}